body {
background-color: #abc4ff;

}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.buttondiv {
    margin: 50px;
}

.button {
    padding: 5px;
}

p {
   text-align: center; 
   margin: 100px;
}