@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap");

body {
  background-color: #abc4ff;
}

.set-alarm {
  text-align: center;
  margin-top: 50px;
}

.buttondiv {
  margin: 50px;
}

.link {
  padding: 5px;
  border: 2px solid #33658a;
  background-color: #d7e3fc;
  font-size: 20px;
  border-radius: 15px;
  cursor: pointer;
  color: black;
}

p {
  text-align: center;
  margin: 100px;
  font-family: "Orbitron", sans-serif;
}

.switch {
  text-align: center;
}

.clock {
  font-size: 100px;
  border: 1px solid #33658a;
  border-radius: 50px;
  background-color: #c1d3fe;
}

.alarm {
  text-align: center;
  margin-top: 50px;
  font-size: 0px;
}

a {
  text-decoration: none;
}
