body {
background-color: #abc4ff;

}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.buttondiv {
    margin: 50px;
}

.button {
    padding: 5px;
    border: 2px solid black;
    background-color: #D7E3FC;
    font-size: 20px;
    border-radius: 15px;
}

p {
   text-align: center; 
   margin: 100px;
}

.toggle {
    text-align: center;
}

.clock {
    font-size: 100px;
    border: 1px solid black;
    border-radius: 50px;
    background-color: #C1D3FE;
}